<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Витрина товаров</title>
</head>

<body>
<form method="GET" action="/post/blog/add">
    <button style="float:right;">ДОБАВИТЬ ПОСТ</button>
</form>
<table style="width:50%;margin-left:auto;margin-right:auto;">

    <tr th:each="post : ${posts}">
        <td style="border-bottom:thin solid;">
            <h2 th:text="${post.getTitle()}"></h2>
            <p>
                <a th:href="${'/post/blog/'+post.getId()}">
                    <img height="300" th:src="${'http://localhost:8080/post/images/'+post.getImage()}">
                </a>
            </p>
            <p th:text="${post.getParagraphs()[0]}"></p>
            <p>
                <span th:text="${'&#x1F44D; '+post.getLikes()}"></span>
                <span th:text="${'&#x2709; '+post.getComments().size()}"></span>
            </p>
            <p>
                <span th:each="tag : ${post.getTags()}" th:text="${'#'+tag+' '}"></span>
            </p>
        </td>
    </tr>
</table>
</body>